:root{
    --primary-color: #00c3ff;
    --background-color: rgb(43, 43, 43);
    --secondary-color: red;
}

html, body {
    height: 100%;
    margin: 0;
}

body{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.main-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* date styling */
.display-date p{
    font-size: 40px;
    color: var(--primary-color);
}

/* +- workouts ui */
.user-interface-container{
    height: 60vh; 
    width: 100%;
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column; 
    gap: 10px;
    margin-top: 10px;
    /* scrollable */
    overflow-y: auto;
    overflow-x: auto; 
}

